svg {
  width: 200px;
  display: block;
  margin: 40px auto 0;
}

.path.circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 1s ease-in-out;
}

.path.line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    stroke-dashoffset: 1000;
    animation: dash 1s .35s ease-in-out forwards;
}

.path.check {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
    stroke-dashoffset: -100;
    animation: dash-check 1s .35s ease-in-out forwards;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

pre {
   background-color: ghostwhite;
   border: 1px solid silver;
   padding: 10px 20px;
   margin: 20px;
   }
.json-key {
   color: brown;
   }
.json-value {
   color: navy;
   }
.json-string {
   color: olive;
   }
